/**************/
/* CSS REMEDY */
/**************/
*,
*::after,
*::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

button,
summary {
    cursor: pointer;
}

/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
    /* startje */
    --color-light: #ffffff;
    --color-dark: #000000;
}

/****************/
/* JOUW STYLING */
/****************/

/* jouw code */

body {
    color: var(--color-light);
    background-color: var(--color-dark);
    font-family: 'Everett';
}

h2 {
    font-weight: 300;
    line-height: 1.3;
    font-size: calc(1.15rem + 1.28571vw);
}

h3 {
    font-weight: 300;
    line-height: 1.15;
    font-size: calc(1rem + 1.28571vw);
}

p {
    font-size: 0.875rem;
    font-weight: light;
}

button {
    all: unset;
    cursor: pointer;
    border: 1px solid;
    padding: 1rem 3rem;
    border-radius: 3rem;
    text-align: center;
    transition: background-color 0.4s ease-in, color 0.4s ease-in;
    text-transform: uppercase;
    font-size: 0.75rem;
    place-self: start start;
}

button:hover {
    background-color: var(--color-light);
    color: var(--color-dark);
}

body > header {
    position: fixed;
    top: 0;
    width: 100vw;
    display: flex;
    gap: 1.875rem;
    align-items: center;
    justify-content: space-between;
    padding: 4rem 2rem;
    z-index: 99;
}

body > header > a {
    position: relative;
    z-index: 2;
    color: white;
}

/*! HAMBURGER MENU */
body > header > details {
    position: relative;
    z-index: 2;
}

/*? Ik heb de details gebruikt als overlay voor de navigation */
body > header > details > summary {
    width: 1.5rem;
    height: 1.5rem;
    list-style: none;
    font-size: 0;
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    transition: gap 0.4s ease-in-out;
}

body > header > details[open] > summary {
    gap: 0rem;
}

/*? HAMBURGER MENU ANIMATIE */
body > header > details > summary::before,
body > header > details > summary::after {
    content: '';
    display: block;
    width: 1.5rem;
    height: 1px;
    background-color: var(--color-light);
    transform: translateX(0px) rotate(0deg);
    transition: all 0.4s ease-in-out;
}

body > header > details[open] > summary::before {
    transform: translateY(11px) rotate(45deg);
}

body > header > details[open] > summary::after {
    transform: translateY(10px) rotate(-45deg);
}

/* https://stackoverflow.com/questions/6195329/how-can-you-hide-the-arrow-that-is-displayed-by-default-on-the-html5-details-e */
body > header > details > summary::marker, /* Latest Chrome, Edge, Firefox */ 
body > header > details > summary::-webkit-details-marker /* Safari */ {
    display: none;
}

/* LEVEL 1 NAVIGATIE */
body > header nav:first-of-type {
    z-index: 1;
    position: absolute;
    padding: 8rem 2rem 4rem;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 1.875rem;
    transform: translateY(-100%);
    transition: transform 0.4s ease-in-out 0.2s;
    background-color: #000000;
}

/*? MENU ANIMATIE */
body > header details[open] ~ nav:first-of-type {
    transform: translateY(0);
    transition: transform 0.4s ease-in-out 0s;
}

body > header nav:first-of-type ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 1.875rem;
}

body > header nav:first-of-type li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 2rem;
}

body > header nav:first-of-type li:focus-within > dl {
    transform: translate(0, 0);
}

body > header nav:first-of-type input {
    display: none;
}

body > header nav:first-of-type li a {
    color: var(--color-light);
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
}

body > header nav:first-of-type li:nth-of-type(1)::after,
body > header nav:first-of-type li:nth-of-type(2)::after {
    display: block;
    content: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.5 9.5L18.5 15.5L12.5 21.5' stroke='white'/%3E%3C/svg%3E");
}

/* LEVEL 2 NAVIGATIE */
dl {
    top: 0;
    position: absolute;
    padding: 8rem 0rem 2rem;
    background-color: var(--color-dark);
    width: 100vw;
    height: 100vh;
    transition: transform 0.4s ease-in-out;
    transform: translate(100vw, 0);
}

input:checked ~ dl {
    transform: translate(0, 0);
}

input:checked ~ label {
    font-weight: 600;
}

dl dt a {
    display: block;
    padding-bottom: 2rem;
    font-size: 1.25rem;
    line-height: 1.2;
    text-decoration: none;
    color: var(--color-white);
}

dd {
    position: relative;
    top: -1.5rem;
    margin-inline-start: 0;
    font-size: 0.875;
    opacity: 0.3;
}

dl dt:first-of-type,
dl dd:first-of-type,
dl dt:first-of-type a {
    font-size: 0;
}

dl dt:first-of-type label::after {
    content: url("data:image/svg+xml,%3Csvg width='9' height='16' viewBox='0 0 9 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.4324 0.928932L1.36133 8L8.4324 15.0711' stroke='white'/%3E%3C/svg%3E ");
    display: block;
    margin-bottom: 2rem;
}

/* Language buttons */
body > header nav:last-of-type {
    transform: translateY(0%);
    position: absolute;
    top: 100vh;
    bottom: 0;
    z-index: 4;
    width: fit-content;
    height: fit-content;
    padding-bottom: 1rem;
    transition: transform 0.4s ease-in-out 0s;
}

body > header details[open] ~ nav:last-of-type {
    transform: translateY(-100%);
    transition: transform 0.4s ease-in-out 0.3s;
}

body > header nav:last-of-type button {
    border: 0px;
    border-radius: 0;
    padding: 1rem 0rem;
}

body > header nav:last-of-type button:nth-of-type(2) {
    border-bottom: 1px solid white;
}

/* **** */
/* MAIN */
/* **** */

main > header {
    height: 100vh;
    padding: 4rem 0rem;
    display: grid;
    grid-template-columns: 1fr minmax(auto, 30rem) 1fr;
    row-gap: 3rem;
    column-gap: 2rem;
}

main > header h1 {
    grid-column: 2 / 3;
    align-self: end;
}

#home > header video {
    position: fixed;
    z-index: -1;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#home .video-absolute {
    position: absolute;
    top: 100vh;
}

/*! sections */
section {
    padding: 4rem 0rem;
    display: grid;
    grid-template-columns: 1fr minmax(auto, 30rem) 1fr;
    row-gap: 3rem;
    column-gap: 2rem;
}

section > * {
    grid-column: 2 / 3;
    opacity: 0;
    transform: translate(0px, 200px);
}

#home > section:nth-of-type(3),
#home > section:nth-of-type(6),
#home > section:nth-of-type(7) {
    background-color: var(--color-dark);
}

#home > section:nth-of-type(1) {
    height: 100vh;
}

#home > section:nth-of-type(1) h2 {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#home > section:nth-of-type(1) h2 span:last-of-type {
    align-self: flex-end;
}

#home > section:nth-of-type(1) p {
    text-align: center;
}

/*! section */
#home > section:nth-of-type(2) {
    background-color: var(--color-light);
    color: var(--color-dark);
}

#home > section:nth-of-type(2) h2 + p::after {
    margin-top: 3.5rem;
    content: '';
    position: relative;
    width: 100%;
    height: 1px;
    background-color: #efefef;
    display: block;
}

#home > section:nth-of-type(2) ul {
    list-style-type: none;
    display: flex;
    gap: 1.5rem;
    padding: 3.5rem 2rem;
    overflow-x: auto;
    grid-column: 1 / 4;
    width: 100%;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none;
}

#home > section:nth-of-type(2) ul::-webkit-scrollbar {
    display: none;
}

#home > section:nth-of-type(2) ul li {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    padding: 2rem 1.5rem 0;
    box-shadow: 0 1.25rem 4.5rem rgb(0 0 0 / 7%),
        0 0.625rem 4.25rem rgb(0 0 0 / 2%);
    border-radius: 0.75rem;
    overflow: hidden;
    min-width: 12.5rem;
    max-width: 18rem;
    flex: 1 0 25vw;
}

#home > section:nth-of-type(2) ul li p {
    flex-grow: 1;
}

#home > section:nth-of-type(2) ul li q {
    display: block;
}

#home > section:nth-of-type(2) ul li img {
    order: -1;
    height: 3.125rem;
    width: 5rem;
    object-fit: contain;
}

#home > section:nth-of-type(2) ul li a {
    padding: 0.75rem 1.5rem;
    font-size: 0.75rem;
    text-decoration: none;
    color: var(--color-dark);
    background-color: #f9f9f9;
    margin: 0 -1.5rem;
}

/*! section */

#home > section:nth-of-type(3) > ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: calc(2.0625rem + 9.10714vw);
}

#home > section:nth-of-type(3) > ul > li {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

#home > section:nth-of-type(3) > ul > li img {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
}

#home > section:nth-of-type(3) > ul > li a {
    cursor: pointer;
    border: 1px solid var(--color-light);
    padding: 1rem 3rem;
    border-radius: 3rem;
    text-align: center;
    transition: background-color 0.4s ease-in, color 0.4s ease-in;
    text-transform: uppercase;
    font-size: 0.75rem;
    place-self: start start;
    color: var(--color-light);
    text-decoration: none;
}

#home > section:nth-of-type(3) > ul > li a:hover {
    background-color: var(--color-light);
    color: var(--color-dark);
}

#home > section:nth-of-type(3) > ul ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
}

#home > section:nth-of-type(3) > ul ul li {
    display: flex;
    flex-wrap: wrap;
}

#home > section:nth-of-type(3) > ul ul li span {
    font-size: 3rem;
}

#home > section:nth-of-type(3) > ul ul li sup {
    font-size: 1.5rem;
    padding-top: 0.5em;
}

/*! section */
#home > section:nth-of-type(4),
#career > section:nth-of-type(4) {
    background-color: #101117;
}

#home > section:nth-of-type(4) > ul,
#career > section:nth-of-type(4) > ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
}

#home > section:nth-of-type(4) li,
#career > section:nth-of-type(4) li {
    list-style-type: none;
    display: grid;
    grid-template-columns: 3.5rem auto;
    gap: 3.75rem;
    padding: 2rem 0;
    border-bottom: 1px solid hsla(0, 0%, 100%, 0.16);
}

#home > section:nth-of-type(4) li svg {
    border: 1px solid hsla(0, 0%, 100%, 0.16);
    border-radius: 0.25rem;
    background-color: black;
    width: 3.5rem;
    height: 3.5rem;
    padding: 0.3rem;
}

/*! section */
#home > section:nth-of-type(5) {
    background-color: white;
    color: black;
}

#home > section:nth-of-type(5) h2 em {
    display: block;
}

/*! section */
#home > section:nth-of-type(6) h2,
#home > section:nth-of-type(7) h2 {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    color: #fff;
    font-family: Everett, sans-serif;
    font-weight: 300;
    line-height: 1.2;
    font-size: calc(1.3875rem + 3.32143vw);
}

#home > section:nth-of-type(6) h2 span:last-of-type,
#home > section:nth-of-type(7) h2 span:last-of-type {
    align-self: flex-end;
    text-align: end;
}

#home > section:nth-of-type(7) h2 {
    padding-bottom: 2rem;
    border-bottom: 1px solid hsla(0, 0%, 100%, 0.16);
}

#home > section:nth-of-type(7) > ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

#home > section:nth-of-type(7) li {
    list-style-type: none;
    display: grid;
    grid-template-columns: 3.5rem auto;
    gap: 3.75rem;
}

#home > section:nth-of-type(7) li svg {
    width: 3.5rem;
    height: 3.5rem;
}

#home > section:nth-of-type(7) li p {
    max-width: 8.25rem;
}

#home > section:nth-of-type(7) button {
    width: fit-content;
}

/*! section */

#home > section:nth-of-type(8) {
    background-color: var(--color-light);
    color: var(--color-dark);
}

#home > section:nth-of-type(8) article {
    display: flex;

    list-style-type: none;
    border-bottom: 1px solid hsla(0, 0%, 100%, 0.16);
}

#home > section:nth-of-type(8) article a {
    color: black;
    display: flex;
    flex-direction: column;
    gap: 1.825rem;
    text-decoration: none;
}

#home > section:nth-of-type(8) article img {
    max-height: 8.5rem;
    align-self: start;
    order: -1;
}

#home > section:nth-of-type(8) article img {
    font-size: calc(1.0625rem + 0.53571vw);
    line-height: 1.3;
    filter: grayscale(100%);
}

#home > section:nth-of-type(8) article time {
    order: 1;
    color: #767676;
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 2;
    letter-spacing: 0.04em;
    text-transform: uppercase;
}
#home > section:nth-of-type(8) > a {
    justify-self: center;
    cursor: pointer;
    border: 1px solid;
    padding: 1rem 3rem;
    border-radius: 3rem;
    text-align: center;
    transition: background-color 0.4s ease-in, color 0.4s ease-in;
    text-transform: uppercase;
    font-size: 0.75rem;
    color: black;
    text-decoration: none;
}

#career > header {
    min-height: 50vw;
    height: unset;
    padding-top: 180px;
    background-image: url(https://www.evina.com/wp-content/uploads/fly-images/1774/05-scaled-992x999999.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#career > section:nth-of-type(2) article {
    border-top: 1px solid hsla(0, 0%, 100%, 0.16);
}

#career > section:nth-of-type(2) h3 {
    padding: 2rem 0rem 5rem;
}

#career > section:nth-of-type(2) p {
    margin-bottom: 1rem;
}

#career > section:nth-of-type(2) ul {
    list-style-type: none;
    padding-left: 1.5rem;
}

#career > section:nth-of-type(2) li::before {
    content: '';
    background: linear-gradient(266.23deg, #7f02fc 23.5%, #349bd5 146.97%);
    display: block;
    width: 0.3rem;
    height: 0.3rem;
    border-radius: 50%;
    position: relative;
    top: 0.8rem;
    left: -1.5rem;
}

#career > section:nth-of-type(3) {
    background-color: var(--color-light);
    color: var(--color-dark);
}

#career > section:nth-of-type(4) li img {
    border: 1px solid hsla(0, 0%, 100%, 0.16);
    border-radius: 0.25rem;
    background-color: black;
    width: 3.5rem;
    height: 3.5rem;
    padding: 0.4rem;
    object-fit: contain;
}

/*! footer */

footer {
    background-color: #101117;
}

footer form {
    padding: 4rem 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1.875rem;
}

footer p:first-of-type {
    font-size: 0.875rem;
    line-height: 1.7;
}

footer p:last-of-type {
    font-size: 0.75rem;
    line-height: 1.4;
    order: 3;
}

footer p a {
    color: white;
}

footer label {
    order: 1;
}

footer input[type='email'] {
    all: unset;
    border-bottom: 1px solid hsla(0, 0%, 100%, 0.16);
    width: 100%;
    order: 2;
    position: relative;
    top: -2.25rem;
}

footer input[type='email']:active ~ label {
    background-color: green;
}

footer input[type='submit'] {
    border-radius: 0;
    background-color: unset;
    color: white;
    border: 0px;
    order: 1;
    font-size: 0.75rem;
    line-height: 1.2;
    text-transform: uppercase;
}

footer nav {
    border-top: 1px solid hsla(0, 0%, 100%, 0.16);
    padding: 4rem 2rem;
}

footer ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 1.875rem;
}

footer ul a {
    color: white;
    text-decoration: none;
    font-size: 0.75rem;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    font-weight: 500;
}

@font-face {
    font-family: 'Everett';
    src: url('../fonts/TWKEverett-Regular-web.woff2') format('woff2'),
        url('../fonts/TWKEverett-Regular-web.woff2') format('woff');
    font-weight: normal;
}

@font-face {
    font-family: 'Everett';
    src: url('..//fonts/TWKEverett-Light-web.woff2') format('woff2'),
        url('..//fonts/TWKEverett-Light-web.woff') format('woff');
    font-weight: light;
}

@media screen and (min-width: 768px) {
    section,
    main > header {
        grid-template-columns: 1fr minmax(auto, 21rem) minmax(auto, 21rem) 1fr;
        padding: calc(1.68125rem + 5.83929vw) 0 calc(1.775rem + 6.64286vw);
    }

    section > * {
        grid-column: 2 / 4;
    }

    header h1 {
        font-size: calc(1.15rem + 1.28571vw);
    }

    #home > section:nth-of-type(1) {
        align-content: end;
    }

    #home > section:nth-of-type(1) h2 {
        font-size: calc(1.5375rem + 4.60714vw);
    }
    #home > section:nth-of-type(1) p {
        grid-column: 2 / 3;
        text-align: start;
    }

    #home > section:nth-of-type(2) ul {
        grid-column: 1 / 5;
    }

    #home > section:nth-of-type(3) > ul > li {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    #home > section:nth-of-type(3) > ul > li {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    #home > section:nth-of-type(3) > ul > li:nth-of-type(odd) > * {
        grid-column: 1 / 2;
    }

    #home > section:nth-of-type(3) > ul > li:nth-of-type(odd) img {
        grid-column: 2 / 3;
        grid-row: 1 / 8;
    }

    #home > section:nth-of-type(3) > ul > li:nth-of-type(even) > * {
        grid-column: 2 / 3;
    }

    #home > section:nth-of-type(3) > ul > li:nth-of-type(even) img {
        grid-column: 1 / 2;
        grid-row: 1 / 8;
    }

    #home > section:nth-of-type(3) > ul ul {
        display: flex;
    }

    #home > section:nth-of-type(3) > ul ul li span {
        font-size: calc(1.2rem + 1.71429vw);
    }

    #home > section:nth-of-type(3) > ul ul li sup {
        padding-top: 0;
    }

    #home > section:nth-of-type(4) h2 {
        grid-column: 2 / 3;
    }

    #home > section:nth-of-type(4) > p {
        grid-column: 3 / 4;
    }

    #home > section:nth-of-type(4) > ul,
    #career > section:nth-of-type(4) > ul {
        list-style-type: none;
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 2.5rem;
    }

    #home > section:nth-of-type(5) {
        grid-template-columns:
            1fr minmax(auto, 14rem) minmax(auto, 14rem) minmax(auto, 14rem)
            1fr;
    }

    #home > section:nth-of-type(5) h3 {
        font-size: calc(1.0125rem + 0.10714vw);
    }

    #home > section:nth-of-type(5) h3:nth-of-type(1) {
        grid-column: 2/3;
        grid-row: 2/3;
    }

    #home > section:nth-of-type(5) p:nth-of-type(1) {
        grid-column: 2/3;
    }

    #home > section:nth-of-type(5) h3:nth-of-type(2) {
        grid-column: 3/4;
        grid-row: 2/3;
    }

    #home > section:nth-of-type(5) p:nth-of-type(2) {
        grid-column: 3/4;
    }

    #home > section:nth-of-type(5) h3:nth-of-type(3) {
        grid-column: 4/5;
        grid-row: 2/3;
    }
    #home > section:nth-of-type(5) p:nth-of-type(3) {
        grid-column: 4/5;
    }

    #home > section:nth-of-type(6) h2 {
        font-size: calc(1.5375rem + 4.60714vw);
    }

    #home > section:nth-of-type(6) p {
        grid-column: 2/3;
    }

    #home > section:nth-of-type(7) {
        grid-template-columns:
            1fr minmax(auto, 14rem) minmax(auto, 14rem) minmax(auto, 14rem)
            1fr;
    }

    #home > section:nth-of-type(7) h2 {
        grid-column: 2/5;
        font-size: calc(1.5375rem + 4.60714vw);
        padding-bottom: 32vw;
    }

    #home > section:nth-of-type(7) ul {
        grid-column: 3/5;
        flex-direction: row;
    }

    #home > section:nth-of-type(7) li {
        display: flex;
        flex-direction: column;
        gap: 2.5rem;
    }

    #home > section:nth-of-type(7) p {
        grid-column: 2/3;
    }

    #career > section:nth-of-type(1) h2 {
        grid-column: 2/3;
    }

    #career > section:nth-of-type(1) p {
        grid-column: 3/4;
        grid-row: 1/2;
    }

    #career > section:nth-of-type(2) article:nth-last-of-type(1) {
        grid-column: 2/3;
        grid-row: 2/3;
    }

    #career > section:nth-of-type(2) article:nth-last-of-type(2) {
        grid-column: 3/4;
    }

    #career > section:nth-of-type(3) {
        grid-template-columns:
            1fr minmax(auto, 14rem) minmax(auto, 14rem) minmax(auto, 14rem)
            1fr;
    }

    #career > section:nth-of-type(3) p:nth-of-type(1) {
        grid-column: 2/3;
        grid-row: 2/4;
    }

    #career > section:nth-of-type(3) p:nth-of-type(2),
    #career > section:nth-of-type(3) p:nth-of-type(3) {
        grid-column: 3/4;
    }

    #career > section:nth-of-type(3) p:nth-of-type(4) {
        grid-column: 4/5;
        grid-row: 2/4;
    }
    footer form {
        padding: 4rem 2rem;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
    }

    footer form h2 {
        font-size: calc(1.05rem + 0.42857vw);
        grid-column: 1/3;
    }

    footer p:first-of-type {
        grid-row: 2/5;
        grid-column: 1/3;
        font: 1rem;
    }

    footer p:last-of-type {
        grid-row: 4/5;
        grid-column: 5/7;
        position: relative;
        top: -2.25rem;
    }

    footer label {
        grid-row: 2/3;
        grid-column: 5/6;
    }
    footer input[type='submit'] {
        grid-row: 2/3;
        grid-column: 6/7;
        justify-self: end;
    }
    footer input[type='email'] {
        grid-row: 3/4;
        grid-column: 5/7;
    }

    footer ul {
        flex-direction: row;
        justify-content: space-between;
        gap: 1.875rem;
    }
}

@media screen and (min-width: 992px) {
    body > header > details {
        display: none;
    }

    body > header nav:first-of-type {
        position: static;
        padding: unset;
        width: unset;
        height: unset;
        overflow-x: unset;
        overflow-y: unset;
        flex-direction: unset;
        gap: 1rem;
        transform: translateY(0);
        background-color: unset;
        align-items: center;
    }

    body > header nav:first-of-type ul {
        flex-direction: row;
        gap: 1rem;
    }

    body > header nav:first-of-type li:nth-of-type(1)::after,
    body > header nav:first-of-type li:nth-of-type(2)::after {
        display: none;
    }

    body > header nav:first-of-type button {
        padding: 1rem;
    }

    dl {
        z-index: -1;
        right: -2rem;
        top: -4rem;
        position: absolute;
        display: block;
        padding: 12rem 2rem 2em;
        background-color: var(--color-dark);
        width: 100vw;
        height: 20rem;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        transform: translate(0, -100vh);
    }

    dl dt:first-of-type,
    dl dd:first-of-type {
        display: none;
    }

    section,
    main > header {
        grid-template-columns: 1fr minmax(auto, 27rem) minmax(auto, 27rem) 1fr;
    }

    #home > section:nth-of-type(5) {
        grid-template-columns:
            1fr minmax(auto, 13.5rem) minmax(auto, 13.5rem)
            minmax(auto, 13.5rem) minmax(auto, 13.5rem) 1fr;
    }

    #home > section:nth-of-type(5) h3:nth-of-type(1),
    #home > section:nth-of-type(5) p:nth-of-type(1) {
        grid-column: 3/4;
    }

    #home > section:nth-of-type(5) h3:nth-of-type(2),
    #home > section:nth-of-type(5) p:nth-of-type(2) {
        grid-column: 4/5;
    }

    #home > section:nth-of-type(5) h3:nth-of-type(3),
    #home > section:nth-of-type(5) p:nth-of-type(3) {
        grid-column: 5/6;
    }

    #home > section:nth-of-type(7) {
        grid-template-columns:
            1fr minmax(auto, 18rem) minmax(auto, 18rem) minmax(auto, 18rem)
            1fr;
    }

    #home > section:nth-of-type(8) {
        grid-template-columns:
            1fr minmax(auto, 18rem) minmax(auto, 18rem) minmax(auto, 18rem)
            1fr;
    }

    #home > section:nth-of-type(8) article:nth-of-type(1) {
        grid-column: 2/3;
    }

    #home > section:nth-of-type(8) article:nth-of-type(2) {
        grid-column: 3/4;
    }
    #home > section:nth-of-type(8) article:nth-of-type(3) {
        grid-column: 4/5;
    }
    #home > section:nth-of-type(8) a {
        grid-column: 2/5;
    }
}

@media screen and (min-width: 1300px) {
    section,
    main > header {
        grid-template-columns: 1fr minmax(auto, 39rem) minmax(auto, 39rem) 1fr;
    }

    #home > section:nth-of-type(5) {
        grid-template-columns:
            1fr minmax(auto, 19.5rem) minmax(auto, 19.5rem)
            minmax(auto, 19.5rem) minmax(auto, 19.5rem) 1fr;
    }

    #home > section:nth-of-type(7) {
        grid-template-columns:
            1fr minmax(auto, 26rem) minmax(auto, 26rem) minmax(auto, 26rem)
            1fr;
    }
}

/*? entry animation end */

.entry-animation {
    opacity: 1 !important;
    transform: translate(0px, 0px) !important;
    transition: all 0.5s ease-in-out;
}
